body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
}

h1 {
    color: black;
    font-size: 24px;
    padding: 2px;
    margin: 10px auto;
    width: 60%;
}

div {
    

}

.calculator {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    border: 5px solid black;
}

.display {
    background-color: white;
    padding: 3px;
    text-align: right;
    display: inline-block;
    border-bottom: 5px solid black;
}

.allButtons {
    background-color: gainsboro;
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
    margin: 0px;
}

.equals {
    display: grid;
    grid-template-columns: 400%;
}

